[submodule "buildSchool_Naturio_layout"]
	path = buildSchool_Naturio_layout
	url = https://github.com/boboyuki/buildSchool_Naturio_layout.git
[submodule "BuildSchool_TakenWebSite_Layout"]
	path = BuildSchool_TakenWebSite_Layout
	url = https://github.com/boboyuki/BuildSchool_TakenWebSite_Layout.git
[submodule "BuildSchool_BuildSchool_Layout"]
	path = BuildSchool_BuildSchool_Layout
	url = https://github.com/boboyuki/BuildSchool_BuildSchool_Layout.git
[submodule "BuildSchool_ToyataCard"]
	path = BuildSchool_ToyataCard
	url = https://github.com/boboyuki/BuildSchool_ToyataCard.git
[submodule "buildSchool_CatWeb_Layout"]
	path = buildSchool_CatWeb_Layout
	url = https://github.com/boboyuki/buildSchool_CatWeb_Layout.git
[submodule "BuildSchool_1A2B"]
	path = BuildSchool_1A2B
	url = https://github.com/boboyuki/BuildSchool_1A2B.git
[submodule "BuildSchool_ApplePage"]
	path = BuildSchool_ApplePage
	url = https://github.com/boboyuki/BuildSchool_ApplePage.git
[submodule "BuildSchool_Curriculum"]
	path = BuildSchool_Curriculum
	url = https://github.com/boboyuki/BuildSchool_Curriculum.git
[submodule "BuildSchool_3000CouponMap"]
	path = BuildSchool_3000CouponMap
	url = https://github.com/boboyuki/BuildSchool_3000CouponMap.git
[submodule "BuildSchool_Calculator"]
	path = BuildSchool_Calculator
	url = https://github.com/boboyuki/BuildSchool_Calculator.git
[submodule "BuildSchool_Calender"]
	path = BuildSchool_Calender
	url = https://github.com/boboyuki/BuildSchool_Calender.git
[submodule "BuildSchool_PuzzleGame"]
	path = BuildSchool_PuzzleGame
	url = https://github.com/boboyuki/BuildSchool_PuzzleGame.git
[submodule "BuildSchool_ChartjsPractice"]
	path = BuildSchool_ChartjsPractice
	url = https://github.com/boboyuki/BuildSchool_ChartjsPractice.git
