.company {
  .row {
    justify-content: space-between;
    min-height: 191px;
  }
  div[class^='col-'] {
    display: flex;
    justify-content: center;
  }
  .img {
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 100%;
      margin: 20px 0;
    }
  }
}
