// intro
.intro {
  .row {
    justify-content: center;
    margin: 30px 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin: auto;
    line-height: 1.7;
    p.build {
      color: #000;
      font-size: 18px;
    }
    p {
      color: #3d3d3d;
      font-size: 17px;
      font-weight: 400;
    }
    h1,
    h2,
    h3 {
      text-align: center;
    }
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 26px;
      padding-bottom: 20px;
    }
    h3 {
      color: red;
      font-size: 20px;
      padding-bottom: 10px;
    }
    img {
      align-self: center;
      display: inline-block;
      width: 100px;
      height: 100px;
      padding-bottom: 20px;
    }
  }
}
@media screen and (min-width: 576px) {
  .intro {
    .row:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}
